* {
font-weight: 900;
 font-family: merriweather, serif;
}

.title {
  font-family: merriweather, serif;
  font-weight: 800;
  text-align: center

}
.articles-body{
  display: flex;
  flex-wrap: wrap;

}

.article-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 31%;
  margin: 1%;
  background-color: white;
  padding: 0;
  border: none;
  border-radius: 6px;
}

.article-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

input {
  display: block;
  width: 50%;
  font-family: merriweather;
  font-size: 1em;
  margin: 0 auto;
}

button {
  min-width: 100px;
  padding: 0.54rem 0.75rem;
  background-color: #2954AF;
  color: green;
  border-radius: 4px;
  margin: 0.5rem;
  border: 1px solid #1843AF;

}

.content {

}
